@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");


html {
	box-sizing:border-box;
}

html,body {
	width:100%;
	height:100%;
}

*,*::before, *::after {
	box-sizing:inherit;
}



#film-card {
  border:1px solid;
  display: flex;
  direction: card;
  width:30%;
  margin-left: 60px;
}

body,
html {
	background: #faeded;
	/* padding: 0;
	margin: 0;
	padding-bottom: 6rem; */
	font-family: "Montserrat", sans-serif;
	width: 100%;
}

.container {
	padding-bottom: 3rem;
  list-style: none;
}